<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight Data</title>
</head>
<body>

{% if flight_data %}
    <div>
        <h2>Flight Data:</h2>
        <ul>
            {% for flight in flight_data %}
                <li>
                    Source Airport: {{ flight.sourceAirportCode }}<br>
                    Destination Airport: {{ flight.destinationAirportCode }}<br>
                    Price: {{ flight.price }}<br>
                    Departure Time: {{ flight.departureTime }}<br>
                    Arrival Time: {{ flight.arrivalTime }}<br>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p>No flight data available.</p>
{% endif %}

</body>
</html>
