<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight Data</title>
</head>
<body>

<form action="/" method="post" class="form-example">
  <div class="form-example">
    <label for="iteneraryType">itenerary type: </label>
    <input type="text" name="itineraryType" id="itineraryType" required />
  </div>
  <div class="form-example">
    <label for="date">Date: </label>
    <input type="text" name="date" id="date" required />
  </div>



  <div class="form-example">
    <input type="submit" value="Submit" />
  </div>
</form>


</body>
</html>
